.container {
  max-width: 1024px;
  background-color: rgb(250, 238, 221);
  margin: auto;
}

.headerContainer {
  height: 20vh;
  padding: 20px;
}

.navigationContainer {
  padding: 10px;
}

.mainContainer {
  height: 80vh;
  padding: 20px;
}

.header {
  text-align: center;
  padding-top: 20px;
  color: rgb(17, 110, 218);
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
