.container {
  display: flex;
  margin-top: 30px;
}

.imageWrapper {
  margin-right: 12px;
  display: block;
  position: relative;
  height: min-content;
  width: max-content;
}

.heroInformation {
  width: 90%;
}
